* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: sans-serif;
    line-height: 1.6;
}

button, a {
    outline: none;
    user-select: none;
    -webkit-user-select: none; /* For Safari/Chrome */
    -moz-user-select: none; /* For Firefox */
    -ms-user-select: none; /* For Edge/IE */
    -webkit-tap-highlight-color: transparent;
}
